
<header class="header">
  <div class="wrapper">
    <button id="headerNavBut"><i class="fa fa-bars"> </i></button>
    <button id="headerSocialBut"><i class="fa fa-share-square"> </i></button>
    <ul id="headerNav" class="dropDownNav">
      <li><a href="#" class="border active">Главная</a></li>
      <li><a href="http://google.com" class="border">Портфолио	</a></li>
      <li><a href="#" class="border">Контакты</a></li>
    </ul>
    <ul id="socialNav" class="socialNav dropDownNav">
      <li><a href="#"><i class="fa fa-vk"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin">		</i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</header>