
<header class="header">
  <div class="wrapper">
    <button id="headerNavBut"> </button>
    <button id="headerSocialBut"> </button>
    <ul class="headerNav dropDownNav">
      <li><a>Главная</a></li>
      <li><a>Портфолио		</a></li>
      <li><a>Контакты</a></li>
    </ul>
    <ul class="socialNav dropDownNav">
      <li><a><i class="fa fa-vk"></i></a></li>
      <li><a><i class="fa fa-facebook"></i></a></li>
      <li><a><i class="fa fa-instagram"></i></a></li>
      <li><a><i class="fa fa-google-plus-square"></i></a></li>
      <li><a><i class="fa fa-linkedin">		</i></a></li>
      <li><a><i class="fa fa-pinterest"></i></a></li>
      <li><a><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</header>