<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dmitry Maltsev</title>
    <!-- шрифты	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&amp;subset=latin,cyrillic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,700,700italic,300&amp;subset=latin,cyrillic" type="text/css">
    <link rel="stylesheet" href="css/liCover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/plagins/jquery.liCover.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
  </body>
</html>