
<section class="gallery">
  <div class="galleryHead title">
    <div class="wrapper">
      <h2>Из последних работ</h2>
      <ul class="galleryNav">
        <li><a href="#" class="border active">Все</a></li>
        <li><a href="#" class="border">Портреты</a></li>
        <li><a href="#" class="border">Lovestory</a></li>
        <li><a href="#" class="border">Свадьба</a></li>
      </ul>
    </div>
  </div>
  <ul id="galleryId" class="galleryBody">
    <li class="img1"><a href="img/shutterstock_48203248.jpg"><img src="img/shutterstock_48203248.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img2"><a href="img/firestock_woman_29092013.jpg"><img src="img/firestock_woman_29092013.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова		</p>
        </div></a></li>
    <li class="img3"><a href="img/photo-1440508319978-8b67875e39d7.jpg"><img src="img/photo-1440508319978-8b67875e39d7.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img4"><a href="img/photo-1441786485319-5e0f0c092803.jpg"><img src="img/photo-1441786485319-5e0f0c092803.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img5"><a href="img/Dollarphotoclub_55679457.jpg"><img src="img/Dollarphotoclub_55679457.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img6"><a href="img/photodune-4006917.jpg"><img src="img/photodune-4006917.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img7"><a href="img/Dollarphotoclub_59364762.jpg"><img src="img/Dollarphotoclub_59364762.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
    <li class="img8"><a href="img/20130626msksc-a.jpg"><img src="img/20130626msksc-a.jpg" class="cover"/>
        <div class="galleryItem">
          <h4 class="galleryItemTitle">Портретная фотосъемка</h4>
          <p class="galleryItemDesc">Модель: Анна Овсянникова</p>
        </div></a></li>
  </ul>
</section>