
<section class="mastery">
  <h2 class="title">Мое мастерство</h2>
  <div class="wrapper">
    <div class="masteryItem">
      <h3 class="portrait">Портретная съемка</h3>
      <p>Портретная фотосъемка – один из самых сложных видов фотографии.</p>
    </div>
    <div class="masteryItem">
      <h3 class="LoveStoty">Love Story</h3>
      <p>Портретная фотосъемка – один из самых сложных видов фотографии.</p>
    </div>
    <div class="masteryItem">
      <h3 class="wedding">Свадебная съемка</h3>
      <p>Портретная фотосъемка – один из самых сложных видов фотографии.</p>
    </div>
  </div>
  <div class="story">
    <div class="wrapper">
      <p>
        Любовь к фотографии идет вместе со мной с самого детсва,  с тех пор, как мы с отцом проявляли пленку, закрыв окна одеялом, и сушили ее на бельевой веревке в ванной. <br>
        <br>	
        Современная фотография для меня — это интересные и порой неожиданные ракурсы, и близкие к натуральным цвета в обработке. Благодаря такой обработке Ваши фотографии сохранят свою актуальность и через 10-15 лет.<br>
        <br>
        Если ты хочешь сохранить свои радостные воспоминания,  ты попал по адресу. <br>
      </p>
    </div>
  </div>
</section>