
<section class="contacts">
  <div class="wrapper">
    <h2 class="contactsTitle title">Контакты</h2>
    <ul class="contactsTels">
      <li> <i class="fa fa-phone"> </i>(063) 234 34 45</li>
      <li> <i class="fa fa-phone"> </i>(095) 654 87 98</li>
    </ul>
    <ul class="contactsMail">
      <li> <i class="fa fa-envelope"></i>dmaltsev@mail.ru</li>
      <li> <i class="fa fa-skype"></i>dmaltsev_photografy</li>
    </ul>
  </div>
  <div class="contactsSocial">
    <div class="wrapper">
      <h3 class="contactsSocialTitle">Я в социальных сетях</h3>
      <ul class="contactsSocialItem">
        <li><a href="#"><i class="fa fa-vk"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin">		</i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</section>