
<section class="services">
  <h2 class="title">Пакеты услуг</h2>
  <div class="wrapper">
    <div class="servicesItem">
      <h4 class="servicesItemTitle title">1 час съемки </h4>
      <ul class="servicesItemPoints">
        <li>Обработка всех фото</li>
        <li>Детальная ретушь 10 фото</li>
        <li>Все фото на диске с базовой коррекцией</li>
        <li>Обработка до 7 дней</li>
      </ul>
      <p class="servicesItemPrice">500 грн</p>
    </div>
    <div class="servicesItem">
      <h4 class="servicesItemTitle title">Фотосессия "мини" </h4>
      <ul class="servicesItemPoints">
        <li>Обработка всех фото </li>
        <li>Детальная ретушь 40 фото</li>
        <li>Печать 10 фото 10х15</li>
        <li>Все фото на диске с базовой коррекцией</li>
        <li>Обработка до 7 дней</li>
      </ul>
      <p class="servicesItemPrice">от 800 грн</p>
    </div>
    <div class="servicesItem">
      <h4 class="servicesItemTitle title">Свадьба "стандарт"</h4>
      <ul class="servicesItemPoints">
        <li>Обработка всех фото</li>
        <li>Детальная ретушь 100 фото</li>
        <li>Печать 40 фото 10х15</li>
        <li>Все фото на диске с базовой коррекцией</li>
        <li>Обработка до 3 недель</li>
      </ul>
      <p class="servicesItemPrice">2500 грн</p>
    </div>
  </div>
</section>