

header.header

	div.wrapper
		button#headerNavBut 
		button#headerSocialBut 
		ul.headerNav.dropDownNav
			li
				a Главная
			li
				a Портфолио		
			li
				a Контакты
		ul.socialNav.dropDownNav
			li
				a
					i.fa.fa-vk
			li
				a
					i.fa.fa-facebook
			li
				a
					i.fa.fa-instagram
			li
				a
					i.fa.fa-google-plus-square
			li
				a
					i.fa.fa-linkedin		
			li
				a
					i.fa.fa-pinterest
			li
				a
					i.fa.fa-twitter
