

header.header

	div.wrapper
		
			button#headerNavBut
				i.fa.fa-bars 
			button#headerSocialBut
				i.fa.fa-share-square 

				
			ul#headerNav.dropDownNav
				li
					a( href="#" class="border").active Главная
				li
					a( href="http://google.com" class="border") Портфолио	
				li
					a( href="#" class="border") Контакты

		
			
			ul#socialNav.socialNav.dropDownNav
				li
					a( href="#" )
						i.fa.fa-vk
				li
					a( href="#" )
						i.fa.fa-facebook
				li
					a( href="#" )
						i.fa.fa-instagram
				li
					a( href="#" )
						i.fa.fa-google-plus-square
				li
					a( href="#"  )
						i.fa.fa-linkedin		
				li
					a( href="#"  )
						i.fa.fa-pinterest
				li
					a( href="#"  )
						i.fa.fa-twitter
