section.contacts
	div.wrapper
		h2.contactsTitle.title Контакты
		ul.contactsTels
			li 
				i.fa.fa-phone 
				|(063) 234 34 45
			li 
				i.fa.fa-phone 
				|(095) 654 87 98
		ul.contactsMail
			li 
				i.fa.fa-envelope
				|dmaltsev@mail.ru
			li 
				i.fa.fa-skype
				|dmaltsev_photografy
	div.contactsSocial
		div.wrapper
			h3.contactsSocialTitle Я в социальных сетях
			ul.contactsSocialItem
				li
					a( href="#" )
						i.fa.fa-vk
				li
					a( href="#" )
						i.fa.fa-facebook
				li
					a( href="#" )
						i.fa.fa-instagram
				li
					a( href="#" )
						i.fa.fa-google-plus-square
				li
					a( href="#"  )
						i.fa.fa-linkedin		
				li
					a( href="#"  )
						i.fa.fa-pinterest
				li
					a( href="#"  )
						i.fa.fa-twitter
