section.services
	h2.title Пакеты услуг
	div.wrapper
		div.servicesItem
			h4.servicesItemTitle.title 1 час съемки 
			ul.servicesItemPoints
				li Обработка всех фото
				li Детальная ретушь 10 фото
				li Все фото на диске с базовой коррекцией
				li Обработка до 7 дней
			p.servicesItemPrice 500 грн
		div.servicesItem
			h4.servicesItemTitle.title Фотосессия "мини" 
			ul.servicesItemPoints
				li Обработка всех фото 
				li Детальная ретушь 40 фото
				li Печать 10 фото 10х15
				li Все фото на диске с базовой коррекцией
				li Обработка до 7 дней
			p.servicesItemPrice от 800 грн
		div.servicesItem
			h4.servicesItemTitle.title Свадьба "стандарт"
			ul.servicesItemPoints
				li Обработка всех фото
				li Детальная ретушь 100 фото
				li Печать 40 фото 10х15
				li Все фото на диске с базовой коррекцией
				li Обработка до 3 недель
			p.servicesItemPrice 2500 грн
