section.gallery
	div.galleryHead.title
		div.wrapper
			h2 Из последних работ
			ul.galleryNav
				li
					a( href="#" ).border.active Все
				li
					a( href="#" ).border Портреты
				li
					a( href="#" ).border Lovestory
				li
					a( href="#" ).border Свадьба
	ul.galleryBody#galleryId
		
			li.img1
				a(href="img/shutterstock_48203248.jpg")
					img(src="img/shutterstock_48203248.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img2
				a(href="img/firestock_woman_29092013.jpg")
					img(src="img/firestock_woman_29092013.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова		
			li.img3
				a(href="img/photo-1440508319978-8b67875e39d7.jpg")
					img(src="img/photo-1440508319978-8b67875e39d7.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img4
				a(href="img/photo-1441786485319-5e0f0c092803.jpg")
					img(src="img/photo-1441786485319-5e0f0c092803.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img5
				a(href="img/Dollarphotoclub_55679457.jpg")
					img(src="img/Dollarphotoclub_55679457.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img6
				a(href="img/photodune-4006917.jpg")
					img(src="img/photodune-4006917.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img7
				a(href="img/Dollarphotoclub_59364762.jpg")
					img(src="img/Dollarphotoclub_59364762.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
			li.img8
				a(href="img/20130626msksc-a.jpg")
					img(src="img/20130626msksc-a.jpg" class="cover")
					div.galleryItem
						h4.galleryItemTitle Портретная фотосъемка
						p.galleryItemDesc Модель: Анна Овсянникова
