section.mastery
	h2.title Мое мастерство
	div.wrapper
		div.masteryItem
			h3.portrait Портретная съемка
			p Портретная фотосъемка – один из самых сложных видов фотографии.
		div.masteryItem
			h3.LoveStoty Love Story
			p Портретная фотосъемка – один из самых сложных видов фотографии.
		div.masteryItem
			h3.wedding Свадебная съемка
			p Портретная фотосъемка – один из самых сложных видов фотографии.
	div.story
		div.wrapper
			p
				|Любовь к фотографии идет вместе со мной с самого детсва,  с тех пор, как мы с отцом проявляли пленку, закрыв окна одеялом, и сушили ее на бельевой веревке в ванной. <br>
				|<br>	
				|Современная фотография для меня — это интересные и порой неожиданные ракурсы, и близкие к натуральным цвета в обработке. Благодаря такой обработке Ваши фотографии сохранят свою актуальность и через 10-15 лет.<br>
				|<br>
				|Если ты хочешь сохранить свои радостные воспоминания,  ты попал по адресу. <br>
		