
a{
	text-decoration: none;
}

.wrapper{
	width: calc(100% - 30px);
	max-width: 940px;
	margin: 0 auto;
}
// typography

h1{
	font-size: 6.8rem;
}
h2{
	font-size: 3.8rem;
}
h3{
	font-size: 2.0rem;
}
h4{
	font-size: 1.8rem;
}

// imports 
@import 'partials/__variables';
@import 'partials/header';
@import 'partials/mainPage';
@import 'partials/sectionMastery';
@import 'partials/sectionGallery';
@import 'partials/sectionServices';
@import 'partials/sectionContacts';
