extends templates/mainTemplate.jade

block content
	main
		include ./templates/header.jade
		include ./templates/mainPage.jade
		include ./templates/sectionMastery.jade
		include ./templates/sectionGallery.jade
		include ./templates/sectionServices.jade
		include ./templates/sectionContacts.jade