// font color vars

$FCwhite: #fff;
$FCgoldLight: #806a3b;
$FCgoldDark: #5d4d2c;
$FCblack: #333;




// font-family vars

$FFrobotoC: "Roboto Condensed", Arial, sans-serif;
$FFmerriw: "Merriweather", Arial, sans-serif;



// transition;
$tr: all 0.3s ease-out;