
// стили header для мобильной версии
.header{
	background: rgba(19,19,19,0.9);
	border-bottom: 1px solid rgba(128,106,59,0.5);
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding-top: 30px;
	.wrapper{
		overflow: hidden;
	}
	&::before{
		bottom:-15px;
		content: "";
		position: absolute;
		width: 100%;
		height: 15px;
		background: url(../img/dropFon.png) repeat-x;
	}
}

#headerItemSoc{
	float: right;
	overflow: hidden;
}
#headerItemNav{
	float: left;
	overflow: hidden;
}

#headerNavBut{
	width: 30px;
	height: 30px;
	background: $FCgoldLight;
	border: none;
	float: left;
	margin-bottom: 20px;
	padding: 0;
	border-radius: 3px;
	outline: none;
	transition: $tr;
	
	i{
		font-size: 18px;
		color: $FCwhite;
		text-align: center;
		line-height: 30px;
		transition: $tr;
	}
	&:hover, &:focus{
		background: $FCwhite;
		i{
			color: $FCgoldLight;
		}
	}
}
#headerSocialBut{
	@extend #headerNavBut;
	float: right;
	
}

#headerNav{
	float: left;
	clear: left;

	li{
		margin-bottom: 15px;
	}
	a{
		color: $FCwhite;
		font-size: 2.0rem;
		font-family: $FFrobotoC;
		font-weight: lighter;
		padding: 5px 30px;
		position: relative;	
		transition: $tr;	
	}

}
.border{
	&::after, &::before{
		content: "";
		position: absolute;
		width: 5px;
		height: 100%;
		border: 1px solid transparent;
		border-right: none;
		top:0px;
		left: 0;
		transition: $tr;
	}
	&::before{
		left: auto;
		right: 0;
		border: 1px solid transparent;
		border-left: none;
		
	}
	&:hover, &:focus{
		color: $FCgoldLight;
		&::after, &::before{
			border-color: $FCgoldLight;
		}
	}	
}
.active{
	@extend .border;

	color: $FCgoldLight !important;

	&::after, &::before{
		border-color: $FCgoldLight;
	}
}



.socialNav{
	float: right;
	text-align: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	li{
		
		flex-basis:33%;
		margin-bottom: 15px;	
		
	}
	a{
		color: rgba(255,255,255, 0.19);
		font-size: 3.0rem;
		transition: $tr;
		&:hover, &:focus{
			color: $FCgoldLight;
		}
	}
}

.dropDownNav{
	height: 0;
	overflow: hidden;
}
